@charset "utf-8";

/* ------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------*/
                                               /* CONTENT */
/* ------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------*/

html {
	box-sizing: border-box;
	height: 100%;
	font-size: 100%;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	position: relative;
	height: 100%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
	"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 1.625em; /*26px*/
	-webkit-font-smoothing: antialiased;
}

/* links */
/* -----------------------------------------------------*/

a {
	text-decoration: none;
	color: #D35F60;
}

a:active,
a:hover,
a:focus {
	color: #934243;
}

/* typographie */
/* -----------------------------------------------------*/

h1, .h1-like, 
h2, .h2-like, 
h3, .h3-like, 
h4, .h4-like, 
h5, .h5-like, 
h6, .h6-like {
	font-weight: 700;
	color: #1C1F26;
	margin: 0 0 0.71875em 0;
	line-height: 1.25em;
}

h1, .h1-like {
	font-size: 2em;
}
h2, .h2-like {
	font-size: 1.75em;
}
h3, .h3-like {
	font-size: 1.5em;
}
h4, .h4-like {
	font-size: 1.25em;
}
h5, .h5-like {
	font-size: 1.125em;
}
h6, .h6-like {
	font-size: 1em;
}
p {
	margin: 0 0 0.71875em 0;
}
/* Grouping content */
/*---------------------------------------------------*/
img{
	max-width: 100%;
	height: auto;
	vertical-align: bottom;

}
/* -----------------------------------------------------*/
/* CONTENT */
/* -----------------------------------------------------*/

.container0 {
	margin: 0 auto;
	max-width:95%;
}

.container{
	margin: 0 auto;
	max-width:1080px;
}

.row{
	display: flex;
}
.col-3{width:25%;}
.col-4{width:33.333333%;}
.col-6{width:50%;}
.col-8{width:66.666666%;}
.col-9{width:75%;}
.col-12{width:100%;}


/* ------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------*/
                                               /* HEADER */
/* ------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------*/


header {
	background-color: #0000003a;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
    z-index: 999;
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.233);
}

.logosize {
	max-width: 113px;
}

.logotyposize {
	max-width: 80px;
}

header .logo{
	line-height: 50px;
}

header .logo img {
	margin-top: 4px;
	vertical-align: middle;
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav ul li {
	display:inline-block;
}

header nav ul li a {
	font-size: 14px;
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	padding: 5px 10px;
	line-height: 60px; 
}

header nav ul li a:hover {
	color: #1abc9c;
	text-decoration: none;
}

header #main {
	margin-left: 50px;
	flex-grow: 2;
}

header #social {
	text-align: right;
}

#top-ad {
	margin-top: 100px; 
	padding: 40px 0;
	text-align: center;
}

header .dropdown {
	display: contents;
	color: white;
}

header .dropdown:hover {
	display: contents;
	color: #1abc9c;

}
.dropdown-right{
	right:120px;
	left:auto !important;
}

.dropdown-right-2{
	right:90px;
	left:auto !important;
}

.fa-bars {
	margin-right: 30px;
	font-size: 25px;
	padding-top: 17px;
}

.fa-user-circle {
	margin-right: 30px;
	font-size: 25px;
	padding-top: 17px;
}

.dropdown-item {
	color: #1abc9c !important;
}	

.fa-power-off {
	margin-left: 10px;
	font-weight: 200;
}



/* ------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------*/
                                               /* SECTION1 */
/* ------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------*/



.section1 {
    background: url(../img/pattern.png) no-repeat center center fixed; 
    background-size: cover;
	display: block;
}

.emptyspace {
    height: 140px;
}


.section1 h1 {
    background-color: rgba(28, 31, 38, 0);
    color: #1abc9c;
    font-family: 'Amatic SC', cursive;
	font-size: 40px;
}

.contacttext {
	display: flex;
	margin-bottom: 30px;
	letter-spacing: 3px;
}

.contacttext .fa-paper-plane {
    color: #1abc9c;
    font-size: 30px;
    padding-top: 9px;
    margin-right: 20px;

}

.contactinfosphone {
    display: flex;
    color: #1abc9c;
}

.contactinfosmail {
    display: flex;
    color: #1abc9c;
    margin-left: 30px;
}

.contactinfosphone i {
    margin-right: 10px;
    padding-top: 3px;
    color: #1abc9c;
}

.contactinfosmail i {
    margin-right: 10px;
    padding-top: 3px;
    color: #1abc9c;
}

.flexinfos {
    display: flex;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;  
    resize: vertical 
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #1abc9c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container2 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
    max-width: 700px;
  }

#fname {
      margin-right: 5px;
  }

#lname {
      margin-left: 5px;
  }

  .fnameandlname {
      display: flex;
  }



  
/* ------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------*/
                                               /* FOOTER */
/* ------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------*/

  



.footer {
	background-color: #1abc9c;
}

footer .col-3{
	margin: 90px 0px;
	font-weight: 500;

}

footer h5 {
	color: white;
	margin-bottom: 17px;
}

footer i {
	font-size: 30px;
	margin-right: 10px;
	margin-bottom: 10px;
}

footer p {
	color: black;
	font-weight: 400;
}
footer p:hover {
	color: rgb(255, 255, 255);
	font-weight: 400;
}
footer a:hover {
	color: rgb(255, 255, 255);
	font-weight: 400;
	text-decoration: none;
	border: none !important;
}

footer .mentionslegales {
	text-align: center;
	font-size: 11px;
}

footer .fa-facebook:hover {
    font-size: 30px;
    color: #3F5996;
}
footer .fa-twitter-square:hover {
    font-size: 30px;
    color: #35A1F0;
}
footer .fa-linkedin:hover {
    font-size: 30px;
    color: #1D74B1
}
footer .fa-android:hover {
    font-size: 30px;
    color: rgb(230, 230, 230);
}
footer .fa-apple:hover {
    font-size: 30px;
    color: rgb(230, 230, 230);
}

.socialfooter {
    margin-bottom: 15px;
}

.conditionsgenerales1 {
	margin: 0 !important;
}
.conditionsgenerales2 {
	margin: 0 !important;
	padding-bottom: 3px;
}
.conditionsgenerales1:hover {
	color: black;
}
.conditionsgenerales2:hover {
	color: black;
}